* {
    all: unset;
    font-size: 16px;
    font-family: Maple Mono;
}

tooltip {
    background: #212132;
    color: #aeaefe;
}

window#waybar {
    transition: 0.2s;
    background: transparent;
}

#clock,
#battery,
#network,
#cpu,
#memory,
#bluetooth,
#backlight,
#wireplumber,
#disk {
    background: #212132;
    padding: 0 25px;
    border-radius: 5px;
    font-weight: 700;
    color: #aeaefe;
}

@keyframes battery-low {
    50% {
        background: #ff6a8a;
        color: black;
    }
}

@keyframes battery-charging {
    0% {
        background-position: 200% 0%;
    }

    100% {
        background-position: 0% 0%;
    }
}

#battery.charging {
    background-image: linear-gradient(90deg, #71A1EE, #B6CDF2, #71A1EE);
    background-size: 200% 100%;
    animation: battery-charging 1.5s linear infinite;
    color: black;
}

#battery.low:not(.charging) {
    animation: battery-low 2s linear infinite;
}
