$base: #111111;
$bg: rgba($base, 0.9);

$color: #111111;
$text: #e0e0e0;

$accent: #6198ef;

* {
  all: unset;
  font-size: 1.2rem;
  font-family: Bellota;
  font-weight: 900;
  color: $text;
  transition: 0.2s;
}

.icon {
  color: $color;
  min-width: 30px;
  font-size: 1.0rem;
  border-radius: 4px;
  background: $accent;
  font-family: Maple Mono NF;
}

.widget {
  padding: 5px 5px;
  border-radius: 5px;
  background: $bg;
}

tooltip {
  padding: 5px 5px;
  border-radius: 5px;
  background: $bg;
}
